@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  width: 100%;
  height: 70vh;
  background-image: url("./img/image1.jpg");
  background-position: bottom;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header-content {
  color: whitesmoke;
  text-align: center;
  max-width: 650px;
  font-size: 1.8rem;
}

.line {
  width: 300px;
  height: 2px;
  background: #ded8c8;
  margin: 10px auto;
}

.ctn {
  padding: 8px 15px;
  background: transparent;
  border: 1px solid whitesmoke;
  color: whitesmoke;
  border-radius: 10px;
  margin-top: 40px;
}

a {
  text-decoration: none;
}

section {
  margin: 80px auto;
}

.title {
  text-align: center;
  font-size: 2vmin;
}

.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;
  margin: 0 auto;
}
.row .col img {
  width: 100%;
}

.row .col {
  display: flex;
  /* align-items: center; */
  flex-direction: column;
  padding: 20px;
  width: 380px;
}

.content {
  margin: 10px 0;
}

.row .col p {
  /* margin-bottom: 6px; */
  margin-top: 6px;
}

.events .row {
  margin-top: 50px;
}

h4 {
  font-size: 2vmin;
  color: #635d55;

  /* margin-bottom: 20px; */
}

.symbols {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

p {
  color: #635d55;
}

body,
html {
  overflow-x: hidden;
  font-family: "Be Vietnam Pro", sans-serif;
}

h4 .books {
  margin-top: 5px;
}

.cton {
  padding: 8px 15px;
  background: #6dcfbe;
  /* border: 0.2px solid #60a7b5; */
  color: whitesmoke;
  border-radius: 5px;
  margin-top: 40px;
}

@media (max-width: 768px) {
  .row {
    width: 100%;
  }

  .row .col img {
    width: 50%;
  }
}
